body {
  background-color: #573b4e;
  font-size: 24px;
}
h1,
h3 {
  color: #e72c9c;
  text-align: center;
}
.block {
  border: 1px solid #e72c9c;
  border-radius: 10px;
  width: 500px;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
